  /* Body styles */
  body {
    font-family: Arial, sans-serif;
    background-color: #a7b1c5;
    min-height: 100vh;
  }

  .data-container {
    display: flex;
    align-items: center;
    justify-content: right;
    height: 32px;
  }

  .data-container p {
    display: flex;
    align-items: center;
  }

  .recent-data-container-text {
    display: block;
  }

  .recent-data-container {
    align-items: center;
    height: 90px;
    display: flex;
  }

  .header {
    font-style: italic;
    padding-left: 30px;
    padding-right: 30px;
    display: flex;
    justify-items: auto;
  }

  .main-logo {
    width: 40px;
    height: 40px;
    padding: 5px;
  }

  .logo {
    width: 20px;
    height: 20px;
    padding: 5px;
  }

  .sub-logo {
    width: 30px;
    height: 30px;
    padding: 5px;
  }

  .site-header {
    width: 60%;
    display: flex;
    align-items: center;
  }

  .latest-data-container {
    width: 40%;
    text-align: right;
    padding-top: 10px;
    padding-right: 15px;
  }

  .search-container {
    position: relative;
    justify-content: center;
    width: min-content;
    padding-left: 25px;
  }

  .search-input {
    width: 800px;
    margin-left: 30px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 20px;
    outline: none;
    transition: border-color 0.3s ease-in-out;
    text-indent: 10px;
  }

  .search-input:focus {
    border-color: #3498db;
  }

  .search-button {
    position: absolute;
    top: 0;
    right: 0;
    padding: 10px 15px;
    background-color: #3498db;
    color: #fff;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
  }

  .search-button:hover {
    background-color: #2980b9;
  }

  .main-result,
  .sub-result {
    margin-left: 30px;
    padding-left: 15px;
    margin-top: 20px;
    margin-right: 50px;
  }

  .result-header {
    display: flex;
    align-items: center;
  }

  .App {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #a7b1c5;
    padding: 20px;
  }

  .gas-container {
    background-color: #a7b1c5;
  }

  .transaction-table .td {
    max-width: 20rem;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    text-align: center;
    padding: 10px;
  }

  .transaction-table .tr {
    text-align: center;
    padding: 20px;
  }

  #gasText {
    text-shadow: #2980b9;
  }

  #gasText:hover {
    text-decoration: none;
    border: black;
  }

  .result-body td {
    padding: 8px;
    padding-left: 10px;
  }

  table {
    border-style: solid;
    border-color: #a7b1c5;
    border-radius: 10px;
    background-color: rgb(213, 216, 227);
    padding: 15px;
    margin-left: 5px;
  }

  .result-body table {
    width: 100%;
    table-layout: fixed;
  }

  .recent-blocks-data,
  .recent-transactions-data,
  .recent-additonal-data {
    border-style: solid;
    border-color: #a7b1c5;
    border-radius: 15px;
    background-color: rgb(213, 216, 227);
    padding: 15px;
    margin-left: 5px;
  }

  .recent-block,
  .recent-transaction,
  .recent-blocks-data-header,
  .recent-transactions-data-header {
    border-bottom-style: solid;
    border-bottom-width: thin;
    border-bottom-color: rgb(13, 4, 66);
  }

  .main-result p {
    padding-left: 15px;
    height: 20px;
  }

  .result-body .key {
    width: 20%;
  }

  .recent-data {
    display: flex;
  }

  .recent-block,
  .recent-blocks-data-header,
  .recent-transactions,
  .recent-transactions-data-header {
    display: flex;
    align-items: center;
  }

  .recent-blocks-data,
  .recent-additonal-data {
    width: 15%;
  }

  .recent-transaction-data {
    width: 70%;
    align-content: center;
  }

  .recent-block,
  .recent-transaction {
    padding-left: 15px;
    display: flex;
    height: 72px;
  }

  .recent-transaction-head {
    align-items: center;
    display: flex;
  }

  .recent-transaction-data p {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  .recent-transaction-head p {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  .recent-transaction-value p {
    white-space: nowrap;
  }

  .recent-transaction-value {
    display: flex;
    align-items: center;
  }

  .recent-transaction-head,
  .recent-transaction-data {
    max-width: 350px;
  }

  .sub-result {
    width: 1300px;
  }

  .transaction-table,
  .address-transaction-table {
    table-layout: fixed;
    width: 100%;
  }

  .transaction-table th,
  td {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    padding: 10px;
  }

  .small-data,
  .small-data-clickable {
    width: 10%;
    text-align: center;
  }

  .clickable,
  .large-data-clickable,
  .small-data-clickable,
  b {
    color: rgb(101, 101, 195);
    font-weight: normal;
    white-space: nowrap;

  }

  .clickable:hover,
  .small-data-clickable:hover,
  .large-data-clickable:hover {
    text-decoration: underline;
    cursor: pointer;
  }

  b:hover {
    text-decoration: underline;
    cursor: pointer;
  }

  .main-page-clickable:hover {
    cursor: pointer;
  }

  .large-data {
    width: max-content;
    text-align: center;
  }